/* Обнуление стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили */
body {
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;


    
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* -----------------------------------*/
/* -----------------------------------*/
/* -----------------------------------*/


.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, .1);
    transition: all .3s ease-in-out;
    z-index: 1;
}
.navbar_scrolled {
    position: fixed;
    animation-name: fadeInUp;
    animation-duration: 1.2s;

}
@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.65;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}
.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.search {
    margin-left: 30px;
    transition: all .15s ease-out;
    padding: 8px 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(218, 67, 67);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 6px rgba(218, 67, 67, .4)
    
    
}
.search:hover {
    transform: scale(1.05);
    box-shadow: 0 9px 9px rgba(252, 76, 76, 0.5)
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color:  rgb(218, 67, 67);
    transition: all .4s ease-in-out;
}
.navbar-brand:hover {
    color: black;

}


/*----- HEADER ------*/
/*----- HEADER ------*/
/*----- HEADER ------*/



.header {
    position: relative;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer {
    position: relative;
    min-height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
}
.header .row {
    min-height: 850px;
    display: flex;
    align-items: center;
}
.footer .row {
    min-height: 850px;
    display: flex;
    align-items: center;
}
.header-content {
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;
}
.header-content h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.header-content h4{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-bottom: 30px;
}


.btn-main {
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    border: none;
    background-color: rgb(218, 67, 67);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .15s ease-out;
}
.btn-main2 {
    display: inline-block;
    align-items: center;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    background-color: rgb(218, 67, 67);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .15s ease-out;
}
.btn-main3 {
    display: inline-block;
    align-items: center;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    background-color: rgb(218, 67, 67);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .15s ease-out;
}
.btn-main4 {
    display: inline-block;
    align-items: center;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    background-color: rgb(218, 67, 67);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .15s ease-out;
}
.btn-main5 {
    display: inline-block;
    align-items: center;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    background-color: rgb(218, 67, 67);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 800;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .15s ease-out;
    top: 50%;
    position: relative;
    display: block;
    left: 130%;
}
.btn-main:hover {
    box-shadow: 0 5px 10px rgba(218, 67, 67, .4);
    transform: scale(1.05);
}
.btn-main2:hover {
    box-shadow: 0 5px 10px rgba(218, 67, 67, .4);
    transform: scale(1.05);
}
.btn-main3:hover {
    box-shadow: 0 5px 10px rgba(218, 67, 67, .4);
    transform: scale(1.05);
}
.btn-main4:hover {
    box-shadow: 0 5px 10px rgba(218, 67, 67, .4);
    transform: scale(1.05);
}
.btn-main5:hover {
    box-shadow: 0 5px 10px rgba(218, 67, 67, .4);
    transform: scale(1.05);
}

/*----------------------*/


a {
    text-decoration: none;
}
.scrollto {
    color: black;
}
.why {
    min-height: 850px;
}
.why2 {
    min-height: 1100px;

}

/*----------------------*/

:root {
    --color-plus-grey: rgb(104, 36, 36);
    --color-border-grey: #dee2e6;
    --color-text-dark: #212529;
    --color-background-white: #fff;
    --color-border-active-blue: rgba(218, 67, 67, 0.39);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.accordion{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}



.accordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--color-border-grey);
    border-top: none;
    color: var(--color-text-dark);
    background-color: var(--color-background-white);

}

.accordion:first-child {
    border-top: 1px solid var(--color-border-grey);
}

.accordion__title.active{
    box-shadow: 0 0 12px 1px var(--color-border-active-blue);
}

.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.65s ease-out;
}

.accordion__title.active span{
    transform: rotate(45deg);
}

.accordion__title span::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}

.accordion__title span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}

.accordion__content{
    font-size: 20px;
    line-height: 1.3;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    border: 1px solid var(--color-border-grey);
    border-top: none;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active{
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.syringe {
    width: 7.5%;
    height: 7.5%;
}

.shield {
    position: absolute;
    width: 256px;
    height: 256px;
    display: block;
    left: 15%;
    top: 41%;
}

/* -----------------------------------*/
/* -----------------------------------*/
/* -----------------------------------*/

.form-group {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    display: block;
    left: 101%;
}
.form-control {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
    display: block;
    transition: all 0.9 ease-out;
}
.form-control:focus {
    outline: none;
    border-color: coral;
    box-shadow: 0 03px rgba(255, 127, 80, 0.3);
}

.wefkw {
    position: absolute;
    display: block;
    top: 35.5%;
    right: 12.5%;
}